<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Actors</title>
</head>
<body>
	<h1>Actors</h1>
	<table>
		<thead>
			<tr><th>id</th><th>name</th></tr>
		</thead>
		<tbody>
			<tr th:each="a : ${actors}" >
				<td th:text="${a.actorId}">actor's id</td>
				<td><a href="actor/0" th:href="${'actor/' + a.actorId}" th:text="${a.firstName + ' ' + a.lastName}">actor's name</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>