<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>MyBatis Sample</title>
</head>
<body>
	<h1>MyBatis Sample</h1>
	<dl>
		<dt><a href="actor/1">Actor</a></dt>
		<dd>MyBatisのマッパーを通じて単一レコードを取得して画面表示する例.</dd>
		<dt><a href="actors">Actors</a></dt>
		<dd>MyBatisのマッパーを通じて複数レコードを取得して画面表示する例.</dd>
		<dt><a href="input">Input, Register and Cancel</a></dt>
		<dd>MyBatisのマッパーを通じてレコードを登録する例.</dd>
	</dl>
</body>
</html>