<?xml version="1.0" encoding="Shift_JIS"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Error was handled by Default Controller</title>
</head>
<body>
	<h1>Error was handled by Default Controller</h1>
	<p>
		There was an unexpected error (type=<span th:text="${error}">error</span>,
		status=<span th:text="${status}">status</span>).
	</p>
	<p th:text="${message}">message</p>
</body>
</html>